* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
}

.container {
    width: 60%;
    margin: 50px auto;
}

.btn {
    padding: 10px;
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.btn-show {
    background-color: mediumaquamarine;
}
.btn-edit {
    background-color: rgb(253, 194, 0);
    text-align: center;
}
.btn-delate {
    background-color: rgb(179, 32, 32);
}

h2, p {
    margin: 10px 0;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: turquoise;
}

.notify {
    padding: 20px;
    background-color: green;
    color: white;
    text-transform: uppercase;
}

.comic {
    margin: 20px 0;
}

.page {
    padding: 10px;
    background-color: lightskyblue;
}

.page ul {
    list-style: none;
}

.page li {
    display: inline-block;
}

form * {
    display: block;
    margin: 10px 0;
}

input, textarea {
    width: 100%;
}